<%- include("partials/header.ejs") %>


<h1 class="mb-4 text-uppercase font-weight-bold">New article</h1>

<form action="/article/submit" method="post">

    <%- include("partials/_form_fields.ejs") %>

</form>



<%- include("partials/footer.ejs") %>